@import "reset";
@import "./mixin.scss";
@import "./variables.scss";

html{
  overflow-x: hidden;
}

header{
  border-bottom: 2px solid #C7C7C7;
  padding: 16px 27px;
  .container_header{
    @include simple-flex(space-between, center);
    width: 100%;
  }
}

main{
  @include simple-flex(center, center );
  height: 100%;
  padding: 24px 16px 39px;
  background-color: red;

  .title_section{
    font-size: 32px;
    color:$text-color_section;
  }
  .page_container{
    @include simple-flex(center, center, center);

    background-color:blue;
    
  }
}