
$background-primary: #000000;
$background-secondary: #666666;
$background-terciary: #00C0EE;

$text-color-primary:#000000;
$text-color-secondary:#666666;
$text-color-secondary:#FFFFFF;

$text-color_section: #333333;

