$background-primary: #000000;
$background-secondary: #666666;
$background-terciary: #00c0ee;
$background-page: #ffffff;

$text-color-primary: #000000;
$text-color-secondary: #666666;
$text-color-terciary: #ffffff;

$text-color_section: #333333;
